<nav class="navbar navabr-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="logo.png" alt=""></a>
    <form class="d-flex" role="search">
      <button class="btn btn-warning" type="submit">Create your Avatar</button>
    </form>
  </div>
</nav>