<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decor-XR</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <!-- three.js -->
    <script src="https://unpkg.com/three@0.126.0/build/three.js"></script>
    <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script>

  </head>
  <body>
    <div id="rules">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel corrupti dolorum soluta quisquam, officia illo, a exercitationem eligendi tempora, praesentium eius sunt nostrum totam amet quae aliquid fugiat accusamus et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aspernatur optio iusto dolorem quod mollitia et natus consectetur molestias, dignissimos fugiat quasi explicabo rem, eius ad. Nisi, totam. Nemo, repellendus.</div>

    <input id="avatar_url" type="url">
    <button onclick="submit_avatar_url()">Load</button>

    <script src="/js/avatar-create.js"></script>
  </body>
</html>
