<%- include("partials/header")-%>
    <div class="parent">
        <div class="fashion child">
            <div class="title">
                <h2>Fashion Related Products</h2>
            </div>
            <div class="products">
                <div class="product">
                    <div class="product-img"><img src="shirt.jpg" alt=""></div>
                    <div clas="product-detail">
                        <h4><b>Casual Shirt</b></h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p><span class="discount_price">1099/-</span><span class="orignal_price">2999/-</span><span class="discouunt">(63% off)</span></p>
                    </div> 
                </div>
                <div class="product">
                    <div class="product-img"><img src="pant.jpg" alt=""></div>
                    <div clas="product-detail">
                        <h4><b>Casual Pant</b></h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p><span class="discount_price">999/-</span><span class="orignal_price">1599/-</span><span class="discouunt">(38% off)</span></p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img"><img src="cap.jpg" alt=""></div>
                    <div clas="product-detail">
                        <h4><b>Stylish Cap for Men</b></h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p><span class="discount_price">199/-</span><span class="orignal_price">399/-</span><span class="discouunt">(51% off)</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="homeDecor child">
            <div class="title">
                <h2>Home Decore Related Products</h2>
            </div>
            <div class="products">
                <div class="product">
                    <div class="product-img"><img src="painting.jpg" alt=""></div>
                    <div clas="product-detail">
                        <h4><b>Ganpati Painting</b></h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p><span class="discount_price">1099/-</span><span class="orignal_price">2999/-</span><span class="discouunt">(63% off)</span></p>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img"><img src="clock.jpg" alt=""></div>
                    <div clas="product-detail">
                        <h4><b>Wall Clock</b></h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p><span class="discount_price">499/-</span><span class="orignal_price">1099/-</span><span class="discouunt">(55% off)</span></p>
                    </div>
                </div>

                <div class="product">
                    <div class="product-img"><img src="table.jpg" alt=""></div>
                    <div clas="product-detail">
                        <h4><b>Round Table</b></h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p><span class="discount_price">2999/-</span><span class="orignal_price">4999/-</span><span class="discouunt">(41% off)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer") -%>

    


