.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
}

.ima{
    max-width: 50%;
    margin: 2 rem auto;
    max-height: 50%;
    padding: 2rem auto;
}
.price{
    margin: 1rem auto;
    padding: 2 rem;
}

.butt{
    margin: 1rem auto;
}
